/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}

html{
    scroll-behavior: smooth;
}

/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 200vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    -webkit-text-fill-color: white;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo img {
    width: 100px;
    height: auto;
  
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.nav-links{
    margin-top: 15px;
}
.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}
.Home-page {
    margin-top: 100px;
    width: 100%;

}
.contact{
    margin-top: 100px;
}

.contact h1 {
    line-height: 45px;
    font-size: 30px;
    /* color: rgba(0, 0, 0, 0.652); */
    font-weight: 600;
}

.contact span {
    color: rgba(8, 131, 255, 0.822);
}

.contact p {
    font-size: 17px;
    color: black;
    font-weight: 400;
}

.contact button {
    padding: 5px 20px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background: #fe8c00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: 15px;
    font-weight: 500;


}

.contact #btn2 {

    margin-left: 15px;
    background: #FF4E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contact button:hover {
    background: #4b6cb7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contact #btn2:hover {
    background: #4b6cb7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.profile img{
    width: 500px;
    height: auto;
    object-fit: co ;
} 


.About-page{
    padding: 70px 0px 0px 0px  ;
}
.about{
    padding: 25px;
}
.about h1{
    font-size: 25px;
    color: rgba(14, 99, 255, 0.779);
    font-weight: 600;
    line-height: 40px;

}
.about span{
    color: black;
    line-height: 30px;
    padding-bottom: 30px;
}
.about p{
    font-size: 17px;
    color: black;
    font-size: 300;
    line-height: 30px;
}
.skill{
    padding-bottom: 20px;
    margin: 0px
}
/* .skill p{
    margin-left: 15px;
} */

.skills {
 
  text-align: right;
  color: rgb(255, 255, 255);
  height: 2px;
  margin: 0px;
  padding: 0px 0px 20px 0px !important;
  font-size: 15px;
  font-weight: 400;
  
}

.imgs img{
    width: 370px;
    height: auto;
    padding: 10px;
   
}
.html {width: 90%; background-color: #04AA6D; margin-top: -10px;}
.css {width: 80%; background-color: #2196F3; margin-top: -10px;}
.js {width: 65%; background-color: #f44336;margin-top: -10px;}
.php {width: 70%; background-color: #4e05ed;margin-top: -10px;}

/* ...............Responsive................ */



 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {

 }
 

  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .Home-page{
        margin-top: 40px;
        padding: 0px;
    }
    .contact{
        margin-top: 70px;
    }
     
    .contact h1 {
        line-height: 35px;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.652);
        font-weight: 600;
    }
    
    .contact span {
        color: rgba(8, 131, 255, 0.822);
    }
    
    .contact p {
        font-size: 17px;
        color: black;
        font-weight: 400;
    }
    .profile img{
        width: 500px;
        height: auto;
        object-fit: cover ;
        padding: 0px 0px 0px 10px ;
    } 
  
    
 }
/* 

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .contact{
        margin-top: 0px;
    }
     
    .contact h1 {
        line-height: 35px;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.652);
        font-weight: 600;
    }
    
    .contact span {
        color: rgba(8, 131, 255, 0.822);
    }
    
    .contact p {
        font-size: 17px;
        color: black;
        font-weight: 400;
    }
    .profile img{
        width: 500px;
        height: auto;
        object-fit: cover ;
        padding: 0px 0px 0px 10px ;
    } 
    .imgs{
        width: 370px;
    }

    .imgs img{
        width: 300px;
        height: auto;
       
    }
 
}

 
@media (max-width: 575.98px) { 
    .Home-page {
        margin-top: 0px;
        width: 100%;
    
    }
    .contact h1{
        font-size: 20px;
    }
    .profile img {
        width: 350px;
        margin-top: 15px;
       
    };

    .about-img img{
        width: 30px;
        height: auto;
        object-fit: cover;
    }
  

 }

